sklearn-env/
__pycache__/
# --- Python & Environments ---
*.py[cod]
*$py.class
.venv/
venv/
env/
build/
dist/

# --- Data ---
houses_Madrid.csv
*.csv
*.xlsx
!cleaned_houses_Madrid.csv

# --- Machine Learning Models & Logs ---
*.pkl
!scaler.pkl
!random_forest_model.pkl
*.h5
*.joblib
*.onnx
logs/

# --- Streamlit & Web App ---
.streamlit/
static/

# --- Notebooks ---
.ipynb_checkpoints/

# --- IDEs & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db